<ion-header [translucent]="true">
  <!-- <ion-toolbar>
    <ion-title>cadastro</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content class="ion-padding">
    <ion-card class="logo-card">
      <ion-img class="logo" src="../assets/logos/light-2.png"></ion-img>
    </ion-card>

      <h3>Cadastro</h3>
  
    
      <ion-card-content>
          <ion-label>Nome</ion-label>
      <ion-input fill="outline" type="text"></ion-input>

      <ion-label>Email</ion-label>
      <ion-input fill="outline" type="text"></ion-input>

      <ion-label>Senha</ion-label>
      <ion-input fill="outline" type="password">
        <ion-input-password-toggle color="danger" class="toggle-vermelho" slot="end"></ion-input-password-toggle>
      </ion-input>
      

      <ion-label>Confirmar senha</ion-label>
      <ion-input fill="outline" type="password">
        <ion-input-password-toggle color="danger" class="toggle-vermelho" slot="end"></ion-input-password-toggle>
      </ion-input>


      <ion-button class="submit" fill="outline">Cadastrar</ion-button>
      </ion-card-content>

</ion-content>
