<ion-header [translucent]="true">
  <!-- <ion-toolbar>
    <ion-title>cadastro</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content class="ion-padding">
      <ion-img class="logo" src="../assets/logos/light-3.png"></ion-img>

      <h3>Cadastro</h3>
  
    
      <ion-card-content>
      <ion-label>Nome</ion-label>
      <ion-input [(ngModel)]="nome" type="text" maxlength="50" required></ion-input>

      <ion-label>Email</ion-label>
      <ion-input [(ngModel)]="email" type="text" maxlength="50" required></ion-input>

      <ion-label>Senha</ion-label>
      <ion-input [(ngModel)]="senha" type="password" autocomplete="new-password" maxlength="10" required>
        <ion-input-password-toggle color="danger" class="toggle-vermelho" slot="end"></ion-input-password-toggle>
      </ion-input>
      

      <ion-label>Confirmar senha</ion-label>
      <ion-input [(ngModel)]="confirm" type="password" autocomplete="new-password" maxlength="10" required>
        <ion-input-password-toggle color="danger" class="toggle-vermelho" slot="end"></ion-input-password-toggle>
      </ion-input>

      <ion-label>CEP</ion-label>
      <ion-input id="cep" #cepInput type="text" maxlength="9" [(ngModel)]="cep" (ionInput)="onCepInput($event)" required></ion-input>
      
       <div *ngIf="errorMessage" style="color: red;">
          {{ errorMessage }}


      @if (error) {
        <ion-text color="red"><p class="ion-padding-top">{{ error }}</p></ion-text>
      }
      </div>

      <ion-button class="submit" (click)="consultarCep(); register(); goLogin()">Cadastrar</ion-button>


      

      </ion-card-content>



</ion-content>
