<ion-header [translucent]="true">
  <!-- <ion-toolbar>
    <ion-title>cadastro</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content class="ion-padding">
      <ion-img class="logo" src="../assets/logos/light-3.png"></ion-img>

      <h3>Cadastro</h3>
  
    
      <ion-card-content>
      <ion-label>Nome</ion-label>
      <ion-input [(ngModel)]="nome" type="text" maxlength="50" required></ion-input>

      <ion-label>Email</ion-label>
      <ion-input [(ngModel)]="email" type="text" maxlength="50" required></ion-input>

      <ion-label>Senha</ion-label>
      <ion-input [(ngModel)]="senha" type="password" autocomplete="new-password" maxlength="10" required>
        <ion-input-password-toggle color="danger" class="toggle-vermelho" slot="end"></ion-input-password-toggle>
      </ion-input>
      

      <ion-label>Confirmar senha</ion-label>
      <ion-input [(ngModel)]="confirm" type="password" autocomplete="new-password" maxlength="10" required>
        <ion-input-password-toggle color="danger" class="toggle-vermelho" slot="end"></ion-input-password-toggle>
      </ion-input>

      <ion-label>CEP</ion-label>
      <ion-input id="cep" #cepInput type="text" maxlength="9" [(ngModel)]="cep" (ionInput)="onCepInput($event)" required></ion-input>
      
      <!-- Área de Mensagens de Erro -->
      <div *ngIf="errorMessage" class="error-container ion-padding-top ion-text-center">
        <ion-text color="danger">
          <p style="font-weight: bold; margin: 0;">{{ errorMessage }}</p>
        </ion-text>
      </div>

      <ion-button class="submit" (click)="register()">Cadastrar</ion-button>

      <!-- Indicador de carregamento e debug -->
      <div class="debug" style="text-align:center; margin-top:12px;">
        <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>
        <div *ngIf="debugMessage" style="margin-top:8px; font-size:14px; color:#666">{{ debugMessage }}</div>
      </div>


      

      </ion-card-content>



</ion-content>
