ion-img {
  width: 50%;
  margin: 0 auto;
}

.logo {
  margin-top: 2.5rem;
}

h3 {
  text-align: center;
  margin-top: 2rem;
  font-weight: 600;
}

ion-label {
  font-size: 16px;
}


ion-input {
  --background: #fff;
  border: 1px solid #C12020;
  --border-color: #C12020;
  border-radius: 10px;
  font-size: 16px;
  margin-bottom: 1rem;
  margin-top: 0.2rem;
  color: #000000;
  overflow: hidden;
  --padding-start: 10px;
  --highlight-color-focused: transparent;
}


ion-input:focus-within {
  --highlight-color-focused: #C12020;

}


.submit {
  --background: #ffffff;
  --background-activated: #C12020;
  --color: #000000;
  --border-radius: 40px;
  --border-color: #C12020;
  --border-style: solid;
  --border-width: 1px;
  --text-align: center;
  --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
  --ripple-color: #C12020;
  --padding-top: 15px;
  --padding-bottom: 10px;
  margin-top: 1.5rem;
  padding: 8px;
  font-weight: 600;
  display: block;
  width: 100%;
}