h3 {
  text-align: center;
  margin-top: 4rem;
  font-weight: 600;
}

ion-label {
  font-size: 16px;
}

ion-input {
  --background: #fff;
  border: 2px solid #C12020;
  --border-color: #C12020;
  border-radius: 10px;
  font-size: 16px;
  margin-bottom: 1rem;
  margin-top: 0.2rem;
  color: #000000;
  overflow: hidden;
  --padding-start: 10px;
  --highlight-color-focused: #C12020 !important;
  --highlight-color: #C12020 !important;
  --highlight-color-valid: #C12020 !important;
  --highlight-color-invalid: #C12020 !important;
}

// Remove the previous focus rules and add this more specific one
ion-input[type="text"][ngModel],
ion-input[type="text"]:not([ngModel]),
ion-input[type="password"] {
  &:focus-within,
  &.ion-focused,
  &.item-has-focus {
    --highlight-color-focused: #C12020 !important;
    --highlight-color: #C12020 !important;
  }
}



.submit {
  --background: #ffffff;
  --background-activated: #C12020;
  --color: #000000;
  --border-radius: 40px;
  --border-color: #C12020;
  --border-style: solid;
  --border-width: 2px;
  --text-align: center;
  --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
  --ripple-color: #C12020;
  --padding-top: 15px;
  --padding-bottom: 10px;
  margin-top: 1.5rem;
  padding: 8px;
  font-weight: 600;
  display: block;
  width: 100%;
}

ion-fab{
    margin-left: 2rem;
    color: #C12020;
}

ion-fab-button{
    --background: #C12020;
    --box-shadow: none;
}