<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/user" color="danger"></ion-back-button>
    </ion-buttons>
    <ion-title class="header-title">Squad Lendário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="project-description">
    <h2>Sobre o BusAlert</h2>
    <p>
      O <strong>BusAlert</strong> é um aplicativo mobile, desenvolvido em Ionic com Angular, que visa otimizar a mobilidade sustentável em ambientes urbanos. Ele se integra a um sistema de hardware baseado em Arduino, onde cada ponto de ônibus é equipado com LEDs. Ao acionar do ponto específico no aplicativo, o passageiro sinaliza sua presença no ponto, ativando um LED que alerta o motorista do ônibus sobre a presença de um passageiro.
    </p>
    <p>
      Este aplicativo não apenas facilita a comunicação entre passageiros e motoristas, mas também promove a eficiência do transporte público, reduzindo paradas desnecessárias e o consumo de combustível. Com uma interface intuitiva e foco na usabilidade, o BusAlert busca tornar a experiência do transporte público mais inteligente e sustentável.
    </p>
  </div>

  <div class="intro-container">
    <h1>Toque nos cards! 👇</h1>
  </div>

  <div class="cards-grid">
    <div class="flip-container" *ngFor="let member of members" (click)="toggleCard(member)">
      
      <div class="flipper" [class.flipped]="member.isFlipped">
        
        <div class="front">
          <div class="image-wrapper">
            <img [src]="member.photo" alt="Foto">
          </div>
          <h2 class="name">{{ member.name }}</h2>
          <p class="role">{{ member.role }}</p>
          <ion-icon name="hand-left-outline" class="tap-icon"></ion-icon>

          <ion-button fill="clear" class="social-btn">
            <ion-icon name="logo-github" slot="icon-only"></ion-icon>
            <span class="social-handle">{{ member.github }}</span>
          </ion-button>
        </div>

        <div class="back">
          <h3>⚡ Super Poder:</h3>
          <p class="power">{{ member.superPower }}</p>
          
          <div class="stats-box">
            <div class="stat-row" *ngFor="let stat of member.stats">
              <span>{{ stat.name }}</span>
              <div class="progress-bar">
                <div class="fill" [style.width.%]="stat.value" [style.background]="stat.color"></div>
              </div>
            </div>
          </div>

          <img [src]="member.funGif" class="mini-gif">
        </div>

      </div>
    </div>
  </div>

</ion-content>