<ion-content  class="login-content">

  <ion-card class="login-card">
    
    <div class="imagem-container">
      <img alt="Logo" src="assets/logos/light-1.png" class="logo" />
    </div>

    <ion-card-header>
      <ion-card-title class="welcome-text">Bem-vindo</ion-card-title>
      <ion-card-subtitle class="logcont-text">Faça login para continuar</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-input [(ngModel)]="email" label="Email:"  class="login-form"  color="secundary" ></ion-input>
      <ion-input [(ngModel)]="senha" label="Senha:"  class="login-form" type="password" color="secundary" ></ion-input>
      

      <ion-button expand="block" class="submit" (click)="loginEmail()">Entrar</ion-button>
      <ion-button expand="block" class="submit" routerLink="/cadastro">Cadastre-se</ion-button>
      <ion-button fill="clear" class="forgot" color="danger">Esqueci minha senha</ion-button>

      @if (error) {
        <ion-text color="danger"><p class="ion-padding-top">{{ error }}</p></ion-text>
      }
    </ion-card-content>
    
    
  </ion-card>
</ion-content>
