.drag-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.logo {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  margin-bottom: 20px;
}

.drag-hint {
  position: absolute;
  bottom: 40px;
  display: flex;
  gap: 8px;
  align-items: center;
  color: #053863;
  font-weight: 500;
}
.arrasta {
  color: rgb(200, 0, 0);
  font-size: 50px;
}