.card-user {
    margin-top: 100px;
    margin: 20px;
    padding: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background-color: #fff;
}

.foto {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 20px auto;
  display: block;
}

.nome-card {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
}
.email-card {
    text-align: center;
    font-size: 20px;
    color: gray;
    margin-top: 5px;
}

.edit-button {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    --background: rgb(255, 255, 255);
    --padding-start: 8px;
    --padding-end: 8px;
    --padding-top: 8px;
    --padding-bottom: 8px;
    --border-radius: 50%;
    margin: 0;
}

.act-btn {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 95%;
    height: 60px;
    --border-radius: 15px;
    --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease;
}

ion-button {
    color: red;
    font-size: 30px;
    transition: color 0.2s ease;
}


ion-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-bar {
    --background: white;
    display: flex;
    justify-content: space-between;
}

ion-button {
    color: red;
    font-size: 30px;
    transition: color 0.2s ease;
}

.ion-button-start {
    margin-left: 20px;
}

.ion-button-center {
    margin-left: auto;
    margin-right: auto;
}

.ion-button-end {
    margin-right: 20px;
}


.btn-logout {
    // margin-top: -20rem;
    // margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 95%;
    height: 60px;
    --border-radius: 15px;
    --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease;

}
