

ion-button {
    color: red;
    font-size: 30px;
    transition: color 0.2s ease;
}

.tab-button-icon {
    // font-size: 100px;
    color: green;
}


















ion-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-bar {
    --background: white;
    display: flex;
    justify-content: space-between;
}

ion-button {
    color: red;
    font-size: 30px;
    transition: color 0.2s ease;
}

.ion-button-start {
    margin-left: 20px;
}

.ion-button-center {
    margin-left: auto;
    margin-right: auto;
}

.ion-button-end {
    margin-right: 20px;
}
