<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goEditUser()">
        <ion-icon name="bluetooth"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="header-title">
      Pontos Disponíveis
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
   
    <ion-button *ngFor="let p of points" class="ponto" color="danger" (click)="openModal(p)">
      {{ p.title }}
    </ion-button>

  <!-- Modal único que mostra os dados do ponto selecionado -->
  <ion-modal [isOpen]="isModalOpen" (didDismiss)="onModalDismiss()">
    
    <ng-template>
      
      <ion-header>
        
        <ion-toolbar>
          
          <ion-title class="header-title-modal">{{ selectedPoint?.title }}</ion-title>
          
          <ion-buttons slot="end">
            <ion-button (click)="closeModal()"><ion-icon name="close"></ion-icon></ion-button>
          </ion-buttons>

        </ion-toolbar>

      </ion-header>

        <ion-card class="ponto-card">

        <img [src]="selectedPoint?.img" />
        <ion-button fill="clear" class="favorit-button" (click)="toggleFavorite(selectedPoint)">
          <ion-icon [name]="isFavorite(selectedPoint) ? 'star' : 'star-outline'"></ion-icon>
        </ion-button>

        <ion-card-header>

          <ion-card-title>{{ selectedPoint?.title }}</ion-card-title> 

          <ion-card-subtitle>{{ selectedPoint?.subtitle }}</ion-card-subtitle>

        </ion-card-header>
        
        <ion-card-content>
          {{ selectedPoint?.desc }}
        </ion-card-content>

      </ion-card>

      <ion-button id="button-alert"  expand="block" color="danger" (click)="sendAlert()" class="submit">Acionar Alerta!</ion-button>

      <ion-button *ngIf="isMaster" expand="block" fill="outline" color="danger" class="ion-margin-top" (click)="deletePoint(selectedPoint!)">
        Excluir Ponto
      </ion-button>

    </ng-template>

  </ion-modal>
     
</ion-content>

<ion-footer>
  
   <ion-toolbar class="footer-bar">
    
    <ion-buttons slot="start">
      
      <ion-button class="ion-button-start" (click)="goHome()">
        <ion-icon name="home"></ion-icon>
      </ion-button>
      
    </ion-buttons>

   <ion-buttons>
      
      <ion-button class="ion-button-center" (click)="goFavoritos()">
        <ion-icon name="star"></ion-icon>
      </ion-button>
      
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button class="ion-button-end" (click)="goUser()">
        <ion-icon name="person"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-footer>

